

.register{
    background: linear-gradient(to top right, rgb(28, 239, 239), rgb(76, 139, 232), rgb(141, 7, 141));
    filter: brightness(0.9);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.register input {
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

.registStyle{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    padding: 0 25px;
}
.registStyle > h2{
    position: relative;
    color: transparent;
}

.registStyle > h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: purple;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid red;
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0%{
        width: 0;
    }   
    70%{
        width: 105%;
    }
}

input[type="submit"]{
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 10px;
    background-color: teal;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s linear;
}
input[type="submit"]:hover{
    color: teal;
    background-color: rgba(0, 0, 0, 0.1);
}